@font-face {
	font-family: allura;
	src: url("../fonts/Allura-Regular.ttf");
}

@font-face {
	font-family: rothenburg;
	src: url("../fonts/RothenburgDecorative.ttf");
}

body.background {
	background-image: url("../images/paper.jpg");
}

body.styled {
	font-family: allura;
}

div.front-background {
	background-image: url("../images/Parrot.jpg");
	background-size: cover;
}

.nav-styled {
	background-color: rgb(228, 166, 103);
}

.link-styled:HOVER, .link-styled:LINK, .link-styled:VISITED,
	.link-styled:ACTIVE {
	color: black;
	font-size: 24px;
}

.icon-styled {
	color: black;
}

.jumbotron-styled {
	background-color: rgba(228, 166, 103, 0.5);
	color: black;
	text-shadow: 2px 2px 6px white;
	color: black;
	font-family: rothenburg;
	font-stretch: expanded;
	box-shadow: 2px 2px 5px rgba(204, 0, 0, 0.6);
}

label {
	font-size: 20px;
}

input.form-control, input::-webkit-input-placeholder {
	font-size: 20px;
	line-height: 2;
}

select.form-control {
	font-size: 20px;
}

.btn-styled {
	font-size: 20px;
	color: black;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.navbar-toggle {
	color: black;
	font-size: 24px;
}

.panel-styled {
	background-color: rgba(228, 166, 103, 0.2);
	border-color: rgb(228, 166, 103);
	box-shadow: 2px 2px 5px rgba(204, 0, 0, 0.6);
}

.panel-head-styled {
	background-color: rgba(228, 166, 103, 0.5);
	font-size: 23px;
	text-shadow: 2px 2px 5px white;
}

.panel-body-styled {
	font-size: 20px;
	back
}

.panel-foot-styled {
	background-color: rgba(228, 166, 103, 0.5);
	border-top-color: rgb(228, 166, 103);
}

.positioned {
	position: absolute;
	left:100;
}
}